# БАЗА ДАННЫХ
# Хост базы данных (для Docker: host.docker.internal)
DB_HOST=host.docker.internal
# Порт базы данных
DB_PORT=5432
# Название базы данных
DB_NAME=hackaton_db
# Пользователь базы данных
DB_USER=admin
# Пароль базы данных
DB_PASSWORD=your_db_password_here

# YOUTUBE API
YOUTUBE_API_KEY=your_youtube_api_key_here

# TELEGRAM BOT
BOT_TOKEN=your_bot_token_here